* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RobotoRegular;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// # Variablen

$base-color: hsl(4, 100%, 67%);

$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

// # Klassen

.wrapperStyle {
  margin: 0 auto;
  width: fit-content;
  border-radius: 30px;
  background-color: $white;
}

.h2Style {
  font-family: RobotoRegular;
  color: $darkSlateGrey;
  margin-bottom: 5vh;
}

.pStyling {
  font-size: 1.6rem;
  color: $darkSlateGrey;
}

.buttonStyle {
  width: 100%;
  height: 7vh;
  background-color: $darkSlateGrey;
  color: $white;
  font-family: RobotoRegular;
  font-size: 1.7rem;
  border-radius: 7px;
  border-color: $darkSlateGrey;
}

.hidden {
  display: none;
}
.warnung {
  background-color: hsla(4, 100%, 67%, 0.351);
  border-color: $base-color;
  color: $base-color;
}

html {
  font-family: RobotoRegular;
  font-size: 62.5%;
}

body {
  background-color: $charcoalGrey;
  padding: 10vh;

  //   #hider {
  //     display: none;
  //   }

  .wrapperContent {
    padding: 20px 20px;
    @extend .wrapperStyle;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75vh;

    form {
      padding: 30px 60px 0 60px;
      display: flex;
      flex-direction: column;
      align-items: start;
      h1 {
        font-size: 8rem;
        font-family: RobotoBold;
        color: $darkSlateGrey;
        margin-bottom: 2vh;
      }
      h2 {
        font-size: 2rem;
        @extend .h2Style;
      }
      p {
        @extend .pStyling;
        position: relative;
        padding-left: 30px;
        margin-bottom: 2vh;
        &::before {
          content: url("../images/icon-list.svg");
          position: absolute;
          left: 0;
          top: -2px;
        }
        &:last-of-type {
          margin-bottom: 5vh;
        }
      }
      .labels {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        label {
          @extend .pStyling;
          font-family: RobotoBold;
          margin-bottom: 1vh;
          &:nth-of-type(2) {
            text-align: right;
            color: $base-color;
          }
        }
      }

      input {
        border-radius: 7px;
        width: 100%;
        height: 7vh;
        margin-bottom: 3vh;
        padding-left: 3vw;
        font-size: 1.7rem;
        &::placeholder {
          color: $grey;
          font-family: RobotoRegular;
        }
      }
      button {
        @extend .buttonStyle;
      }
    }

    .mainImg {
      background: url("../images/illustration-sign-up-desktop.svg") no-repeat
        center;
      background-size: cover;
      border-radius: 30px;
    }
  }

  .secondWrapper {
    @extend .wrapperStyle;
    padding: 20px 40px;
    img {
      margin-bottom: 2vh;
    }
    h2 {
      @extend .h2Style;
      font-size: 3rem;
      font-family: RobotoBold;
      color: $darkSlateGrey;
      margin-bottom: 4vh;
    }
    p {
      @extend .pStyling;
      margin-bottom: 6vh;
      span {
        font-family: RobotoBold;
      }
    }
    button {
      @extend .buttonStyle;
    }
  }
}

@media only screen and (max-width: 415px) {
  body {
    background-color: $white;
    padding: 0;
    .wrapperContent {
      padding: 0;
      margin: 0;
      height: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      form {
        padding: 10px 10px;
        grid-row: 2/3;
        h1 {
          font-size: 5rem;
        }
        h2 {
          width: 300px;
        }
        p {
          width: auto;
        }
      }

      .mainImg {
        background: url("../images/illustration-sign-up-mobile.svg") no-repeat
          center;
        background-size: cover;
        border-radius: 0;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 5vh;
      }
    }
  }
}
